.footer {
	background-color: var(--color-1);
	color: #fff;
	padding-top: 45px;
	padding-bottom: 45px;
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	grid-column-gap: 30px;
}

.footer-info {
	display: block;
	width: 100%;
	max-width: 365px;
}

.footer-logo {
	width: 175px;
	height: 36px;
	display: block;
}

.footer-logo img {
	width: 100%;
	height: 100%;
}

.footer-contacts {
	margin-top: 20px;
}

.footer-contacts__phone {
	font-size: 20px;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration: none;
	margin-top: 25px;
	margin-bottom: 5px;
	display: block;
}

.footer-contacts__phone:hover {
	text-decoration: underline;
}

.footer-contacts__list {
	display: table;
}

.footer-contacts__item {
	display: table-row;	
}

.footer-contacts__item a:hover {
	text-decoration: underline;
}

.footer-contacts__title {
	display: table-cell;
	padding-top: 20px;
}

.footer-contacts__value {
	display: table-cell;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	padding-left: 20px;
}

.footer-contacts__value span {
	display: block;
}

.footer-social {
	margin-top: 60px;
}

.footer-social__title {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 11px;
	display: block;
}

.footer-social__list {
	display: flex;
}

.footer-social__item {
	display: block;
	margin-right: 15px;
}

.footer-social__item:last-child {
	margin-right: 0;
}

.footer-social__link {
	display: block;
	width: 56px;
	min-width: 56px;
	height: 56px;
}

.footer-social__link img {
	height: 100%;
	height: 100%;
}

.footer-catalog {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footer-category {
	display: block;
}

.footer-category__title {
	font-size: 20px;
	font-weight: 700;
	display: block;
	margin-bottom: 25px;
}

.footer-category__list {
	display: grid;
	grid-row-gap: 25px;
}

.footer-category__item {
	display: block;
}

.footer-category__link {
	color: #fff;
	text-decoration: none;
	display: block;
}

.footer-category__link:hover {
	text-decoration: underline;
}

.copyright {
	display: block;
	font-size: 20px;
	margin-top: 75px;
}


/*   responsive   */


@media (max-width: 1579px) {

	.footer-wrapper {
		grid-column-gap: 13px;
	}

	.footer-info {
		max-width: 320px;
	}

	.footer-contacts__title {
		max-width: 60px;
	}

	.footer-category__title {
		font-size: 17px;
	}

    .footer-category__link {
    	font-size: 16px;
    }
}


@media (max-width: 1399px) {

	.footer-wrapper {
		display: block;
	}

	.footer-info {
		margin-bottom: 30px;
		padding-bottom: 15px;
		max-width: 100%;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	.footer-contacts__title {
		max-width: 100%;
	}

	.footer-contacts {
		display: flex;
		margin-top: 30px;
	}

	.footer-contacts__phone {
		margin: 0;
		margin-right: 50px;
	}

	.footer-social {
		margin: 0;
		margin-left: auto;
		text-align: right;
	}

	.footer-social__list {
		flex-direction: row-reverse;
	}

	.footer-contacts__title {
		padding: 0
	}

	.footer-contacts__value {
		padding-bottom: 15px;
		padding-left: 30px;
	}

	.footer-contacts__value span {
		display: inline;
	}

	.footer-social__title {
		font-size: 19px;
	}

	.footer-social__link {
		height: 45px;
		width: 45px;
	}

	.footer-category__list {
		grid-row-gap: 20px;
	}

	.copyright {
		font-size: 16px;
		opacity: 0.8;
		margin-top: 60px;
	}
}

@media (max-width: 1199px) {

	.footer-category__title {
		margin-bottom: 15px;
	}

    .footer-category__list {
    	grid-row-gap: 12px;
    }
}

@media (max-width: 991px) {

	.footer-contacts__phone {
		font-size: 18px;
		margin-right: 42px;
	}

	.footer-contacts__value {
		padding-bottom: 10px;
		padding-left: 20px;
	}

	.footer-contacts__value span {
		display: block;
	}

	.footer-social__title  {
		font-size: 18px;
	}

	.footer-catalog {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 30px;
	}

	.footer-category {
		display: block;
	}

	.footer-category__title {
		font-size: 17px;
	}
	
	.footer-category__list {
    	grid-row-gap: 11px;
    }

    .copyright {
    	margin-top: 40px;
    }
}

@media (max-width: 767px) {

	.footer-contacts {
		display: block;
		padding-bottom: 20px;
	}

	.footer-contacts__list {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.footer-contacts__value span {
		display: inline;
	}

	.footer-social {
		margin: 0;
		text-align-last: left;
	}

    .footer-catalog {
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 30px;
	}

	.footer-social__list {
		flex-direction: row;
	} 
}

@media (max-width: 575px) {

	.footer-contacts__value span {
		display: block;
	} 

    .footer-catalog {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media (max-width: 389px) {

	.footer-catalog {
		grid-template-columns: 1fr;
	}

	.footer-category__title {
		font-style: 19px;
	}

	.footer-category__link {
		font-size: 17px;
	}
}


@media (max-width: 374px) {

	.footer-contacts__list {
		display: grid;
		grid-row-gap: 17px;
	}

	.footer-contacts__title {
		margin-bottom: 6px;
	}

	.footer-contacts__value,
	.footer-contacts__title {
		padding: 0;
		display: block;
		font-size: 16px;
	}

	.footer-contacts__value span {
		display: inline;
	} 
}























