.header {
	background-color: #fff;
}

/*   header-top  */

.header-top {
	display: flex;
	align-items: center;
	grid-column-gap: 32px;
	width: 100%;
}

.select-sity {
	display: flex;
	align-items: center;
	grid-column-gap: 10px;
	position: relative;
	cursor: pointer;
}

.select-sity__icon {
	display: block;
}

.select-sity__actual {
	color: var(--color-text);
	display: block;
	font-weight: 700;
	margin-top: 3px;
	padding-right: 20px;
	background-image: url(../img/global/header/dropdown-arrow.svg);
	background-repeat: no-repeat;
	background-position: 100% center;
}

.select-sity__dropdown {
	display: none;
    position: absolute;
    background: #FFFFFF;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 5px 5px;
    z-index: 1;
}

.elect-sity__dropdown-item {
	text-decoration: none;
	color: var(--color-text);
	padding: 6px 34px 9px 30px;
	display: block;
	transition: color .4s ease;
}

.select-sity:hover .select-sity__dropdown {
	display: block;
}

.select-sity:hover .select-sity__actual {
	color: #A3A3A3;
	transition: color .2s ease;
}

.menu {}

.menu__list {
	display: flex;
	align-items: center;
	width: 100%;
}

.menu__item {
	display: block;
	margin-right: 38px;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__item_gap {
	margin-right: auto;
}

.menu__link {
	text-decoration: none;
	color: var(--color-text);
	display: block;
}


/*   header-down   */

.header-down {
	background-color: #ABD8EB;
}

.header-categories {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-categories__item {}

.header-categories__dropdown {}

.dropdown {
	position: relative;
    display: inline-block;
}

.dropdown__main-link {
	font-size: 20px;
	padding-top: 18px;
	padding-bottom: 16px;
	color: var(--color-text);
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

.dropdown__content {
	display: none;
    position: absolute;
    background: #FFFFFF;
	box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 5px 5px;
    z-index: 1;
}

.dropdown__content a {
	text-decoration: none;
	color: var(--color-text);
	padding: 6px 34px 9px 30px;
	display: block;
	transition: color .4s ease;
}

.dropdown:hover .dropdown__content {
	display: block;
}

.dropdown:hover .dropdown__main-link {
	color: #A3A3A3;
	transition: color .2s ease;
}


/*   header-middle  */

.header-middle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 14px;
	padding-bottom: 14px;
}

.header-logo {
	width: 190px;
	height: 40px;
	display: block;
}

.header-logo img {
	height: 100%;
	width: 100%;
}

.header-address-block {}

.header-address-block__address {}

.header-address-block__scheme {
	color: var(--color-2);
	text-decoration: underline;
	margin-top: 2px;
	display: block;
	transition: color .4s ease;
}

.header-address-block__scheme:hover {
	color: var(--color-1);
	transition: color .4s ease;
}

.header-search {
	position: relative;
	display: block;
	height: 45px;
	width: 340px;
	border-radius: 100px;
	overflow: ;
}

.header-search__input {
	border: 1px solid #A8D1E7;
	border-radius: 100px;
	height: 100%;
	width: 100%;
	padding-left: 25px;
	outline: none;
}

.header-search__input:focus {
	box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.05);
}

.header-search__btn {
	position: absolute;
	display: block;
	height: 100%;
	width: 50px;
	right: 0;
	top: 0;
	background: transparent;
	border: none;
}

.header-call {}

.header-call__phone {
	color: var(--color-text);
	font-weight: 700;
	font-size: 22px;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	grid-column-gap: 8px;
	transition: color .4s ease;
}

.header-call__phone:hover {
	color: var(--color-1);
	transition: color .4s ease;
}

.header-call__call-back {
	display: block;
	border: 1px solid var(--color-2);
	border-radius: 5px;
	color: var(--color-2);
	text-decoration: none;
	padding: 7px 24px 7px;
	background: transparent;
	margin-left: auto;
}

.header-control {
	display: flex;
	grid-column-gap: 28px;
}

.header-control__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--color-text);
	text-decoration: none;
	background: transparent;
	border: none;
	transition: color .4s ease;
}

.header-control__item:hover {
	color: var(--color-1);
	transition: color .4s ease;
}

.header-control__icon {
	height: 40px;
	display: flex;
	align-items: center;
}

.header-control__name {}

.header-control__icon_number {
	grid-column-gap: 14px;
}

.header-control__number {
	background: var(--color-2);
	font-size: 15px;
	color: #fff;
	display: block;
	width: 36px;
	text-align: center;
	border-radius: 9px;
	padding-top: 3px;
	padding-bottom: 2px;
}


































