.instagram {}

.instagram-wrap {
	margin-left: auto;
	margin-right: auto;
	width: 1165px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	grid-row-gap: 35px;
}

.instagram-post {
	display: inline-flex;
	width: 365px;
	height: 365px;
	overflow: hidden;
	object-fit: cover;
	background-color: #D2CBC3;
}

.instagram-post img {
	transition: transform 0.4s ease;
}

.instagram-post:hover img {
	transform: scale(1.1);
	transition: transform 0.4s ease;
}



/*   responsive   */


@media (max-width: 1399px) {

	.instagram-wrap {
		width: 810px;
		grid-row-gap: 30px;
	}

	.instagram-post {
   		width: 250px;
   		height: 250px;
	}
}

@media (max-width: 1199px) {

    .instagram-wrap {
		width: 810px;
		grid-row-gap: 30px;
	}

	.instagram-post {
   		width: 250px;
   		height: 250px;
	}
}

@media (max-width: 991px) {

    .instagram-wrap {
		width: 590px;
		grid-row-gap: 25px;
	}

	.instagram-post {
   		width: 180px;
   		height: 180px;
	}
}

@media (max-width: 767px) {

    .instagram-wrap {
		width: 100%;
		grid-row-gap: 15px;
	}

	.instagram-post {
   		width: 170px;
   		height: 170px;
	}
}

@media (max-width: 575px) {

    .instagram-wrap {
    	width: 355px;
    }
}


@media (max-width: 389px) {

	.instagram-wrap {
    	width: 345px;
    }

    .instagram-post {
   		width: 165px;
   		height: 165px;
	}
}

@media (max-width: 374px) {

	.instagram-wrap {
    	width: 200px;
    }

    .instagram-post {
   		width: 200px;
   		height: 200px;
	}
}

















