.product-card {
	width: 100%;
	max-width: 357px;
	position: relative;
	height: 500px;
	
}

.product-card__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	display: block;
	background: #FFFFFF;
	box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 37px 30px 32px;
	position: relative;
	transition: all .5s ease;
}

.product-card__wrapper:hover {
	z-index: 2;
}

.product-card__labels {
	display: flex;
	grid-column-gap: 12px;
	position: absolute;
	top: 22px;
	left: 22px;
}

.product-card__tag {
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	width: 63px;
	min-width: 63px;
	height: 30px;
	border-radius: 5px;
	overflow: hidden;
	display: none;
}

.product-card__tag.active {
	display: flex;
}

.product-card__tag_discount {
	font-size: 17px;
	justify-content: flex-end;
	padding-right: 7px;
	background-image: url(../img/global/product-card/discount-label.svg);
}

.product-card__tag_hit {
	background: #0E9F2E;
	font-size: 14px;
}

.product-card__link {
	text-decoration: none;
	color: var(--color-text);
	transition: all .3s ease;
}

.product-card__link:hover {
	color: var(--color-1);
	text-decoration: underline;
	transition: all .3s ease;
}

.product-card__img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	display: flex;
}

.product-card__img img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	display: block;
}

.product-card__title {
	margin-top: 24px;
	height: 2.3em;
	overflow: hidden;
}

.product-card__colors-block {
	display: flex;
	grid-column-gap: 13px;
	display: none;
}

.product-card__color {
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 4px;
}

.product-card__color:nth-child(1) {
	background: #333333;
}

.product-card__color:nth-child(2) {
	background: #565C16;
}

.product-card__color:nth-child(3) {
	background: #F6EACB;
}

.product-card__price-block {
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	margin-top: 25px;
	margin-bottom: 20px;
}

.product-card__price_old {
	color: #BDBDBD;
	margin-right: 13px;
}

.product-price {
	display: inline-flex;
	font-weight: 700;
	align-items: end;
}

.product-price__currency {}

.product-price_actual {
	font-size: 25px;
}

.product-card__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-card__add-to-card {}

.product-card__add-to-favorites {
	height: 44px;
	width: 44px;
	min-width: 44px;
	display: block;
	border-radius: 5px;
	background-color: transparent;
	margin-left: 23px;
	background-image: url(../img/global/product-card/favorites-icon.svg);
	border: none;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.product-card__add-to-favorites:hover {
	background-image: url(../img/global/product-card/favorites-icon-active.svg);
}

.product-card__add-to-favorites:hover::before {
	content: 'Добавить в избранное';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
	margin-left: -15px;
	margin-top: -70px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0;
    top: 0;
    z-index: 1;
    background: #FFFFFF;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
    padding: 5px 10px;
}

.product-card__add-to-favorites.active:hover::before {
	content: 'Удалить из избранного';
}

.product-card__add-to-favorites.active {
	background-image: url(../img/global/product-card/favorites-icon-active.svg);
}

.product-parameters {
	margin-top: 25px;
	display: table;
	display: none;
}

.product-parameters__item {
	display: table-row;
}

.product-parameters__title {
	display: table-cell;
	padding-right: 12px;
	padding-top: 10px;
}

.product-parameters__value {
	display: table-cell;
}

.product-value {}

.product-dimensions {
	display: flex;
	grid-column-gap: 8px;
}

.product-dimensions__item {
	font-size: 15px;
}

.product-dimensions__title {
	
}

.product-dimensions__value {

}


/* hover at the card */

.product-card {
	max-height: 
}

.product-card__wrapper:hover .product-parameters {
	display: table;
	transition: all .5s ease;
}

.product-card__wrapper:hover .product-card__colors-block {
	display: flex;
	grid-column-gap: 13px;
	transition: all .5s ease;
}


/*   responsive   */


@media (max-width: 1579px) {

	.product-card {
		max-width: 315px;
		height: 470px
	}
}


@media (max-width: 1399px) {

	.product-card {
		max-width: 270px;
		height: 420px
	}

	.product-card__wrapper {
		padding: 30px 20px 30px;
	}

	.product-card__labels {
		top: 15px;
		left: 10px;
	}

	.product-card__title {
		margin-top: 15px;
	}

	.product-card__price-block {
		margin-top: 15px;
	}
}


@media (max-width: 1199px) {

    .product-card {
		max-width: 227px;
		height: 378px
	}

	.product-card__add-to-card {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 19px;
	}

	.product-card__price {
		font-size: 14px;
	}

	.product-price_actual {
		font-size: 19px;
	}
}



























