.product-offer-wrap {

}

.slider-box {
	position: relative;
}

.mySwiper {
	width: 100%;
	height: 530px;
	padding: 15px!important;
}

.swiper-slide {
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.product-offer-navigation {
	position: absolute;
	top: calc(50% - 30px);
	z-index: 2;
	left: 0;
	width: calc(100% + 30px);margin-left: -15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-offer-navigation button {
	display: block;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);
	background-position: center center;
	border: none;
	background-color: #fff;
	background-repeat: no-repeat;
}

.product-offer-navigation button:hover {
	box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.14);
}


#swiper-prev {
	background-image: url(../img/global/product-offer/arrow-prev.svg);
}

#swiper-next {
	background-image: url(../img/global/product-offer/arrow-next.svg);
}


/* hover at the card */

.mySwiper .product-card:hover .product-card__wrapper {
	top: 20px;
}	

.mySwiper .product-card__wrapper:hover .product-parameters {
	display: none;
}

.mySwiper .product-card__wrapper:hover .product-card__colors-block {
	display: none;
}




/*   responsive   */


@media (max-width: 1579px) {

	.mySwiper {
		height: 500px
	}
}


@media (max-width: 1399px) {

	.mySwiper{
		height: 450px
	}
}


@media (max-width: 1199px) {

    .mySwiper {
		height: 408px
	}
}

@media (max-width: 991px) {

    .product-offer-navigation{
		display: none;
	}
}

















