:root {
    --color-text: #1D1818;
    --color-1: #384685;
    --color-2: #E13B3F;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text);
}

* {
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

form {
    margin: 0;
}

a, button, select {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.container {
    width: 1520px;
    margin-left: auto;
    margin-right: auto;
}

.section-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.section-top .section-title {
    margin-bottom: 0;
}

.section-top__link {
    color: var(--cor-text);
    display: block;
    text-decoration: none;
}

.section-top__link:hover {
    text-decoration: underline;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 22px;
    text-transform: uppercase;
    display: block;
}

section {
    padding-bottom: 70px;
}

.btn {
    background-color: var(--color-1);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    background: var(--color-1);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 0 13px;
    border-radius: 5px;
    display: block;
    width: 100%;
    max-width: 380px;
    transition: background 0.5s ease;
}

.btn:hover {
    background: #18276E;
    transition: background 0.5s ease;
}


.grid-of-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-row-gap: 32px;
}


/*   responsive   */

@media (max-width: 1579px) {

    .container {
        width: 1350px;
    }

    body {
        font-size: 17px;
    }

    .grid-of-cards {
        grid-row-gap: 27px;
    }
}


@media (max-width: 1399px) {

    .container {
        width: 1140px;
    }

    .section-title {
        font-size: 25px;
    }

    .grid-of-cards {
        grid-row-gap: 20px;
    }
}

@media (max-width: 1199px) {

    .container {
        width: 960px;
    }

    body {
        font-size: 16px;
    }

    .section-title {
        font-size: 22px;
    }

    .grid-of-cards {
        grid-row-gap: 16px;
    }
}

@media (max-width: 991px) {

    .container {
        width: 720px;
    }

    .grid-of-cards {
        grid-row-gap: 17px;
    }
}

@media (max-width: 767px) {

    .container {
        width: 540px;
    }

    section {
        padding-bottom: 50px;
    }

    .grid-of-cards {
        width: 540px;
    }
}

@media (max-width: 575px) {

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px
    }

    .section-title {
        text-align: center;
    }
}

@media (max-width: 374px) {

    .section-top {
        flex-direction: column;
    }

    .section-top__link {
        margin-top: 15px;
    }
}



























